<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipSirAdminApp.serviceDescription.home.title">Service Descriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-description" [routerLink]="['/service-description/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipSirAdminApp.serviceDescription.home.createLabel">
            Create new Service Description
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceDescriptions?.length === 0">
        <span jhiTranslate="jhipSirAdminApp.serviceDescription.home.notFound">No serviceDescriptions found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceDescriptions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jhipSirAdminApp.serviceDescription.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="jhipSirAdminApp.serviceDescription.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="jhipSirAdminApp.serviceDescription.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedDateTime"><span jhiTranslate="jhipSirAdminApp.serviceDescription.modifiedDateTime">Modified Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="jhipSirAdminApp.serviceDescription.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="context"><span jhiTranslate="jhipSirAdminApp.serviceDescription.context">Context</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceDescription"><span jhiTranslate="jhipSirAdminApp.serviceDescription.serviceDescription">Service Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="migrated"><span jhiTranslate="jhipSirAdminApp.serviceDescription.migrated">Migrated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="migratedBy"><span jhiTranslate="jhipSirAdminApp.serviceDescription.migratedBy">Migrated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceRecordServiceName"><span jhiTranslate="jhipSirAdminApp.serviceDescription.serviceRecord">Service Record</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceDescription of serviceDescriptions ;trackBy: trackId">
                <td><a [routerLink]="['/service-description', serviceDescription.id, 'view' ]">{{serviceDescription.id}}</a></td>
                <td>{{serviceDescription.createdBy}}</td>
                <td>{{serviceDescription.createdDateTime | date:'medium'}}</td>
                <td>{{serviceDescription.modifiedBy}}</td>
                <td>{{serviceDescription.modifiedDateTime | date:'medium'}}</td>
                <td>{{serviceDescription.version}}</td>
                <td>{{serviceDescription.context}}</td>
                <td>{{serviceDescription.serviceDescription}}</td>
                <td>{{serviceDescription.migrated}}</td>
                <td>{{serviceDescription.migratedBy}}</td>
                <td>
                    <div *ngIf="serviceDescription.serviceRecordId">
                        <a [routerLink]="['../service-record', serviceDescription.serviceRecordId , 'view' ]" >{{serviceDescription.serviceRecordServiceName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-description', serviceDescription.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/service-description', serviceDescription.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'service-description', { outlets: { popup: serviceDescription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="serviceDescriptions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
