<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipSirAdminApp.serviceTagItems.home.title">Service Tag Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-tag-items" [routerLink]="['/service-tag-items/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipSirAdminApp.serviceTagItems.home.createLabel">
            Create new Service Tag Items
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceTagItems?.length === 0">
        <span jhiTranslate="jhipSirAdminApp.serviceTagItems.home.notFound">No serviceTagItems found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceTagItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="source"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.source">Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedDateTime"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.modifiedDateTime">Modified Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceRecordId"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.serviceRecord">Service Record</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceTagName"><span jhiTranslate="jhipSirAdminApp.serviceTagItems.serviceTag">Service Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceTagItems of serviceTagItems ;trackBy: trackId">
                <td><a [routerLink]="['/service-tag-items', serviceTagItems.id, 'view' ]">{{serviceTagItems.id}}</a></td>
                <td>{{serviceTagItems.source}}</td>
                <td>{{serviceTagItems.createdBy}}</td>
                <td>{{serviceTagItems.createdDateTime | date:'medium'}}</td>
                <td>{{serviceTagItems.modifiedBy}}</td>
                <td>{{serviceTagItems.modifiedDateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="serviceTagItems.serviceRecordId">
                        <a [routerLink]="['../service-record', serviceTagItems.serviceRecordId , 'view' ]" >{{serviceTagItems.serviceRecordId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="serviceTagItems.serviceTagId">
                        <a [routerLink]="['../service-tag', serviceTagItems.serviceTagId , 'view' ]" >{{serviceTagItems.serviceTagName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-tag-items', serviceTagItems.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/service-tag-items', serviceTagItems.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'service-tag-items', { outlets: { popup: serviceTagItems.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="serviceTagItems?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
