<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipSirAdminApp.integrationMapping.home.title">Integration Mappings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-integration-mapping" [routerLink]="['/integration-mapping/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipSirAdminApp.integrationMapping.home.createLabel">
            Create new Integration Mapping
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="integrationMappings?.length === 0">
        <span jhiTranslate="jhipSirAdminApp.integrationMapping.home.notFound">No integrationMappings found</span>
    </div>
    <div class="table-responsive" *ngIf="integrationMappings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="agencyServiceId"><span jhiTranslate="jhipSirAdminApp.integrationMapping.agencyServiceId">Agency Service Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceName"><span jhiTranslate="jhipSirAdminApp.integrationMapping.serviceName">Service Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jhipSirAdminApp.integrationMapping.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="jhipSirAdminApp.integrationMapping.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="jhipSirAdminApp.integrationMapping.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedDateTime"><span jhiTranslate="jhipSirAdminApp.integrationMapping.modifiedDateTime">Modified Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="agencyId"><span jhiTranslate="jhipSirAdminApp.integrationMapping.agency">Agency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceRecordId"><span jhiTranslate="jhipSirAdminApp.integrationMapping.serviceRecord">Service Record</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let integrationMapping of integrationMappings ;trackBy: trackId">
                <td><a [routerLink]="['/integration-mapping', integrationMapping.id, 'view' ]">{{integrationMapping.id}}</a></td>
                <td>{{integrationMapping.agencyServiceId}}</td>
                <td>{{integrationMapping.serviceName}}</td>
                <td>{{integrationMapping.createdBy}}</td>
                <td>{{integrationMapping.createdDateTime | date:'medium'}}</td>
                <td>{{integrationMapping.modifiedBy}}</td>
                <td>{{integrationMapping.modifiedDateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="integrationMapping.agencyId">
                        <a [routerLink]="['../agency', integrationMapping.agencyId , 'view' ]" >{{integrationMapping.agencyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="integrationMapping.serviceRecordId">
                        <a [routerLink]="['../service-record', integrationMapping.serviceRecordId , 'view' ]" >{{integrationMapping.serviceRecordId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/integration-mapping', integrationMapping.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/integration-mapping', integrationMapping.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'integration-mapping', { outlets: { popup: integrationMapping.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="integrationMappings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
