<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipSirAdminApp.serviceRoleType.home.title">Service Role Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-role-type" [routerLink]="['/service-role-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipSirAdminApp.serviceRoleType.home.createLabel">
            Create new Service Role Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceRoleTypes?.length === 0">
        <span jhiTranslate="jhipSirAdminApp.serviceRoleType.home.notFound">No serviceRoleTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceRoleTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jhipSirAdminApp.serviceRoleType.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="jhipSirAdminApp.serviceRoleType.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="jhipSirAdminApp.serviceRoleType.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedDateTime"><span jhiTranslate="jhipSirAdminApp.serviceRoleType.modifiedDateTime">Modified Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="jhipSirAdminApp.serviceRoleType.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceRole"><span jhiTranslate="jhipSirAdminApp.serviceRoleType.serviceRole">Service Role</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceRoleType of serviceRoleTypes ;trackBy: trackId">
                <td><a [routerLink]="['/service-role-type', serviceRoleType.id, 'view' ]">{{serviceRoleType.id}}</a></td>
                <td>{{serviceRoleType.createdBy}}</td>
                <td>{{serviceRoleType.createdDateTime | date:'medium'}}</td>
                <td>{{serviceRoleType.modifiedBy}}</td>
                <td>{{serviceRoleType.modifiedDateTime | date:'medium'}}</td>
                <td>{{serviceRoleType.version}}</td>
                <td>{{serviceRoleType.serviceRole}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-role-type', serviceRoleType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/service-role-type', serviceRoleType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'service-role-type', { outlets: { popup: serviceRoleType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="serviceRoleTypes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
