<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="application">
            <h2><span jhiTranslate="jhipSirAdminApp.application.detail.title">Application</span> {{application.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipSirAdminApp.application.contactEmail">Contact Email</span></dt>
                <dd>
                    <span>{{application.contactEmail}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.createdBy">Created By</span></dt>
                <dd>
                    <span>{{application.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.createdDateTime">Created Date Time</span></dt>
                <dd>
                    <span>{{application.createdDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{application.modifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.modifiedDateTime">Modified Date Time</span></dt>
                <dd>
                    <span>{{application.modifiedDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.name">Name</span></dt>
                <dd>
                    <span>{{application.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.migratedBy">Migrated By</span></dt>
                <dd>
                    <span>{{application.migratedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.application.version">Version</span></dt>
                <dd>
                    <span>{{application.version}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application', application.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
