<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceName">
            <h2><span jhiTranslate="jhipSirAdminApp.serviceName.detail.title">Service Name</span> {{serviceName.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.createdBy">Created By</span></dt>
                <dd>
                    <span>{{serviceName.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.createdDateTime">Created Date Time</span></dt>
                <dd>
                    <span>{{serviceName.createdDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{serviceName.modifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.modifiedDateTime">Modified Date Time</span></dt>
                <dd>
                    <span>{{serviceName.modifiedDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.version">Version</span></dt>
                <dd>
                    <span>{{serviceName.version}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.context">Context</span></dt>
                <dd>
                    <span>{{serviceName.context}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.serviceName">Service Name</span></dt>
                <dd>
                    <span>{{serviceName.serviceName}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.migrated">Migrated</span></dt>
                <dd>
                    <span>{{serviceName.migrated}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.migratedBy">Migrated By</span></dt>
                <dd>
                    <span>{{serviceName.migratedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.serviceName.serviceRecord">Service Record</span></dt>
                <dd>
                    <div *ngIf="serviceName.serviceRecordId">
                        <a [routerLink]="['/service-record', serviceName.serviceRecordId, 'view']">{{serviceName.serviceRecordId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-name', serviceName.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
