<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agencySupportRole">
            <h2><span jhiTranslate="jhipSirAdminApp.agencySupportRole.detail.title">Agency Support Role</span> {{agencySupportRole.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.createdBy">Created By</span></dt>
                <dd>
                    <span>{{agencySupportRole.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.createdDateTime">Created Date Time</span></dt>
                <dd>
                    <span>{{agencySupportRole.createdDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{agencySupportRole.modifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.modifiedDateTime">Modified Date Time</span></dt>
                <dd>
                    <span>{{agencySupportRole.modifiedDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.version">Version</span></dt>
                <dd>
                    <span>{{agencySupportRole.version}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.contactEmail">Contact Email</span></dt>
                <dd>
                    <span>{{agencySupportRole.contactEmail}}</span>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.agency">Agency</span></dt>
                <dd>
                    <div *ngIf="agencySupportRole.agencyId">
                        <a [routerLink]="['/agency', agencySupportRole.agencyId, 'view']">{{agencySupportRole.agencyAgencyCode}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.agencyRoleType">Agency Role Type</span></dt>
                <dd>
                    <div *ngIf="agencySupportRole.agencyRoleTypeId">
                        <a [routerLink]="['/service-role-type', agencySupportRole.agencyRoleTypeId, 'view']">{{agencySupportRole.agencyRoleTypeServiceRole}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipSirAdminApp.agencySupportRole.agencySupportContextType">Agency Support Context Type</span></dt>
                <dd>
                    <div *ngIf="agencySupportRole.agencySupportContextTypeId">
                        <a [routerLink]="['/agency-support-role-context-type', agencySupportRole.agencySupportContextTypeId, 'view']">{{agencySupportRole.agencySupportContextTypeContext}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agency-support-role', agencySupportRole.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
