<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipSirAdminApp.serviceEventType.home.title">Service Event Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-event-type" [routerLink]="['/service-event-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipSirAdminApp.serviceEventType.home.createLabel">
            Create new Service Event Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceEventTypes?.length === 0">
        <span jhiTranslate="jhipSirAdminApp.serviceEventType.home.notFound">No serviceEventTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceEventTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jhipSirAdminApp.serviceEventType.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="jhipSirAdminApp.serviceEventType.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="jhipSirAdminApp.serviceEventType.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedDateTime"><span jhiTranslate="jhipSirAdminApp.serviceEventType.modifiedDateTime">Modified Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="jhipSirAdminApp.serviceEventType.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceEvent"><span jhiTranslate="jhipSirAdminApp.serviceEventType.serviceEvent">Service Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceEventType of serviceEventTypes ;trackBy: trackId">
                <td><a [routerLink]="['/service-event-type', serviceEventType.id, 'view' ]">{{serviceEventType.id}}</a></td>
                <td>{{serviceEventType.createdBy}}</td>
                <td>{{serviceEventType.createdDateTime | date:'medium'}}</td>
                <td>{{serviceEventType.modifiedBy}}</td>
                <td>{{serviceEventType.modifiedDateTime | date:'medium'}}</td>
                <td>{{serviceEventType.version}}</td>
                <td>{{serviceEventType.serviceEvent}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-event-type', serviceEventType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/service-event-type', serviceEventType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'service-event-type', { outlets: { popup: serviceEventType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="serviceEventTypes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
