<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-service-delivery-heading" jhiTranslate="jhipSirAdminApp.serviceDelivery.home.createOrEditLabel">Create or edit a Service Delivery</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy').invalid && (editForm.get('createdBy').dirty || editForm.get('createdBy').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.createdDateTime" for="field_createdDateTime">Created Date Time</label>
                    <div class="d-flex">
                        <input id="field_createdDateTime" type="datetime-local" class="form-control" name="createdDateTime" formControlName="createdDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                    <div *ngIf="editForm.get('modifiedBy').invalid && (editForm.get('modifiedBy').dirty || editForm.get('modifiedBy').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modifiedBy').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.modifiedDateTime" for="field_modifiedDateTime">Modified Date Time</label>
                    <div class="d-flex">
                        <input id="field_modifiedDateTime" type="datetime-local" class="form-control" name="modifiedDateTime" formControlName="modifiedDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.serviceDeliveryChannelType" for="field_serviceDeliveryChannelType">Service Delivery Channel Type</label>
                    <input type="text" class="form-control" name="serviceDeliveryChannelType" id="field_serviceDeliveryChannelType"
                           formControlName="serviceDeliveryChannelType"/>
                    <div *ngIf="editForm.get('serviceDeliveryChannelType').invalid && (editForm.get('serviceDeliveryChannelType').dirty || editForm.get('serviceDeliveryChannelType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serviceDeliveryChannelType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serviceDeliveryChannelType').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipSirAdminApp.serviceDelivery.serviceRecord" for="field_serviceRecord">Service Record</label>
                    <select class="form-control" id="field_serviceRecord" name="serviceRecord" formControlName="serviceRecordId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="serviceRecordOption.id" *ngFor="let serviceRecordOption of servicerecords; trackBy: trackServiceRecordById">{{serviceRecordOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
