<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.home.title">Application Service Override Tag Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-service-override-tag-items" [routerLink]="['/application-service-override-tag-items/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.home.createLabel">
            Create new Application Service Override Tag Items
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="applicationServiceOverrideTagItems?.length === 0">
        <span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.home.notFound">No applicationServiceOverrideTagItems found</span>
    </div>
    <div class="table-responsive" *ngIf="applicationServiceOverrideTagItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDateTime"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.createdDateTime">Created Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedDateTime"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.modifiedDateTime">Modified Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="migratedBy"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.migratedBy">Migrated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="applicationServiceOverrideName"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.applicationServiceOverride">Application Service Override</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="applicationServiceOverrideTagName"><span jhiTranslate="jhipSirAdminApp.applicationServiceOverrideTagItems.applicationServiceOverrideTag">Application Service Override Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationServiceOverrideTagItems of applicationServiceOverrideTagItems ;trackBy: trackId">
                <td><a [routerLink]="['/application-service-override-tag-items', applicationServiceOverrideTagItems.id, 'view' ]">{{applicationServiceOverrideTagItems.id}}</a></td>
                <td>{{applicationServiceOverrideTagItems.createdBy}}</td>
                <td>{{applicationServiceOverrideTagItems.createdDateTime | date:'medium'}}</td>
                <td>{{applicationServiceOverrideTagItems.modifiedBy}}</td>
                <td>{{applicationServiceOverrideTagItems.modifiedDateTime | date:'medium'}}</td>
                <td>{{applicationServiceOverrideTagItems.migratedBy}}</td>
                <td>{{applicationServiceOverrideTagItems.version}}</td>
                <td>
                    <div *ngIf="applicationServiceOverrideTagItems.applicationServiceOverrideId">
                        <a [routerLink]="['../application-service-override', applicationServiceOverrideTagItems.applicationServiceOverrideId , 'view' ]" >{{applicationServiceOverrideTagItems.applicationServiceOverrideName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="applicationServiceOverrideTagItems.applicationServiceOverrideTagId">
                        <a [routerLink]="['../application-service-override-tag', applicationServiceOverrideTagItems.applicationServiceOverrideTagId , 'view' ]" >{{applicationServiceOverrideTagItems.applicationServiceOverrideTagName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/application-service-override-tag-items', applicationServiceOverrideTagItems.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application-service-override-tag-items', applicationServiceOverrideTagItems.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'application-service-override-tag-items', { outlets: { popup: applicationServiceOverrideTagItems.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="applicationServiceOverrideTagItems?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
